<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proj3</title>

      <!-- ===== Css ===== -->
    <link rel="stylesheet" href="../static/style.css" />

        <!-- ===== Iconscout CSS ===== -->
        <link
        rel="stylesheet"
        href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
      />

      <link rel="icon" href="../static/images/medical.png">

      <!-- Boxicons CSS -->
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
       <!-- ===== font-awesome ===== -->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
      <!-- ===== Js ===== -->
    <script defer src="../static/main.js"></script>
  </head>
  <body>
    <header>
      <div class="nav">
        <a class="a" href="#Project">Project_aim</a>
        <a href="details">Start</a>
        <!-- <a href="#start">Start</a> -->
        <!-- <a href="#Contact us">Contact Us</a> -->
      </div>
      <div class="main-icon">
        <i class="fa-solid fa-lungs" style="color: #213454;"></i>
      </div>
    </header>

    <section class="main">
      <!-- <img src="../static/main_img.jpg" alt="" /> -->
      <p>
        Palmonary fynction analyzer for detection lung diseases using Ai and IOT
        technologies
      </p>
    </section>

    <section>
      <a id="start0" href="#">Learn More</a>
    </section>

    <section id="Project" class="aim">
        <h1>Project aim</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sunt, ad
        iusto alias animi eum sed autem optio expedita voluptas iure sequi earum
        nemo laboriosam. Asperiores atque facilis ipsam veritatis. Lorem ipsum
        dolor sit amet consectetur, adipisicing elit. Cumque, laboriosam ducimus
        cupiditate tempore ab optio quod dignissimos dolore molestiae, et
        tempora aliquam porro esse facilis voluptate sed accusamus! Doloribus,
        ipsam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
        temporibus nostrum eligendi odio, harum voluptatum earum vel mollitia
        aliquam doloribus impedit quia doloremque praesentium quasi expedita
        dolore! Modi, optio sequi.
      </p>
    </section>





 <!-- form  -->
<div id="start" class="container">
    <div class="forms">
      <div class="form login">
        <h1 class="title">Log in</h1>

        <!-- <form class="realForm" action="click.html"> -->
        <form class="realForm" action="">

          <div class="field email-field">
              <div class="input-field">
                <input class="email" type="email" placeholder="Enter your email" />
                <i class="uil uil-envelope icon"></i>
              </div> 
          </div>

          <div class="field create-password">
              <div class="input-field">
                <input 
                type="password"
                class="password"
                placeholder="Enter your password"
                
              />
                <i class="uil uil-lock icon"></i>
                <i class="uil uil-eye-slash showHidePw"></i>
              </div>
          </div>

        <div class="checkbox-text">
            <div class="checkbox-content">
              <input type="checkbox" id="logCheck" />
              <label for="logCheck" class="text">Remember me</label>
            </div>

            <a href="#" class="text">Forgot password?</a>
          </div> 

           <div class="input-field button"> 
              <input id="logIn" type="submit" value="Log in" /> 
          </div>
        </form> 

         <div class="login-signup">
          <span class="text"
            >Don't have an account?
            <a href="#" class="text signup-link linkk">Sign-up Now</a>
          </span>
        </div>
      </div> 

      <!-- Registration Form -->

      <div class="form signup">
        <h1 class="title">Sign Up</h1>


        <!-- <form class="realForm" action="details.html">      -->
        <form class="realForm" action="">     
            <div class="input-field">
              <input id="enterYourName" type="text" placeholder="Enter your name" autocomplete="off" required/>
              <i class="uil uil-user"></i>
            </div>
          <div class="field email-field">
            <div class="input-field">
              <input type="email" class="email" placeholder="Enter your email" required />
              <i class="uil uil-envelope icon"></i>
            </div>
          </div>
          <div class="field create-password">
            <div class="input-field">
              <input
              type="password"
              class="password passwordd"
              placeholder="Create password"
              
            />
              <i class="uil uil-lock icon"></i>
            </div>
          </div>
          <div class="field confirm-password">
            <div class="input-field">
              <input
              type="password"
              class=" password cPassword"
              placeholder="Confirm password"
              
            />
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>
          </div>

          <div class="checkbox-text">
            <div class="checkbox-content">
              <input type="checkbox" id="termCon" />
              <label for="termCon" class="text"
                >I accepted all terms and conditions</label
              >
            </div>
          </div>

          <div class="input-field button">
            <input type="submit" value="Sign up" />
          </div>
        </form>

        <div class="login-signup">
          <span class="text"
            >Already have an account?
            <a href="#" class="text login-link linkk">Log-in Now</a>
          </span>
        </div>
      </div>
    </div>
  </div>

    <footer>
            <p>Copyright © 2023. All rights Reserved.</p>
    </footer>
  </body>
</html>
